.divBut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

.ulBut {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

button {
  height: 25px;
}
